/* General Styles */
body {
    background-color: #000000; /* Black background */
    color: #fff; /* White text */
    margin: 0;
    padding: 0;
    line-height: 1.6;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;

}

/* Logo and Navigation Menu */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 96%; /* Adjust navigation width */
    padding: 20px;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: flex-end; /* Align navigation items to the right */
    align-items: center;
}

.logo {
    position: fixed;
    top: 5px; /* Adjusts how far down the logo is from the top */
    left: 15px; /* Adjusts how far right the logo is from the left */
    transform: translate(0, 10px); /* Fine-tunes the positioning */
    z-index: 1001;
}

.logo img {
    max-width: 110px; /* Adjust logo size as needed */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
}

nav ul li a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #ff5722;
    transition: width 0.3s ease;
}

nav ul li a:hover {
    color: #ff5722;
    transform: translateY(-2px);
}

nav ul li a:hover::before {
    width: 100%;
}

/* Welcome Section */
* { color:#fff; text-decoration: none;}
.typewrite > .wrap {
    border-right: 0.08em solid #fff; /* Creates the typing cursor */
    font-weight: bold; /* Optional: Makes the text bold */
    font-size: 1.2em; /* Increase for emphasis on mobile */
    background: linear-gradient(to right, #ffffff, #011df0); /* Blue to light blue gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Transparent fill to show the gradient */
}


#welcome .Howdy {
    font-size: 1.5em; /* Increase for emphasis on mobile */
    background: linear-gradient(to right, #ffffff, #ffffff); /* Blue to light blue gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Transparent fill to show the gradient */
    font-family: 'Roboto', sans-serif;
    font-weight: 100; /* Thin weight */
    font-size: 1.7em;
    line-height: 1.5;
   
}

#welcome .im-word {
    font-size: 1.2em; /* Increase for emphasis on mobile */
    background: linear-gradient(to right, #ffffff, #ffffff); /* Blue to light blue gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Transparent fill to show the gradient */
    font-weight: bold;
}

#welcome h1 {
    font-size: 3em; /* Adjust this value to make the text larger or smaller */
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
}

#welcome .gradient-text {
    font-size: 1.2em;
    background: linear-gradient(to right, #5e59f3, #b1c0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

/* Responsive Adjustments */
@media (min-width: 1024px) {
    #welcome {
        padding-top: 10px; /* More space for larger screens */
    }
}

@media (max-width: 768px) {
    #welcome {
        padding-top: 80px; /* Less space for smaller screens */
    }
}

/* Seamless Section Styles */
section {
    margin: 0;
    background-color: inherit; /* Ensures a seamless transition between sections */
}

/* Contact Form */
#contact-section {
    text-align: center;
}

#contact-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    transition: color 0.3s ease, transform 0.3s ease;
}

#contact-form {
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: none; /* Remove background for seamless integration */
    border-radius: 0;
    box-shadow: none;
}

#contact-form label {
    font-size: 1.2em;
    font-weight: bold;
}

#contact-form input, #contact-form textarea {
    padding: 15px;
    font-size: 1em;
    border: 2px solid #224eff;
    background-color: #111;
    color: #fff;
    border-radius: 5px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

#contact-form input:focus, #contact-form textarea:focus {
    border-color: #224eff;
    background-color: #222;
    outline: none;
}

#contact-form button {
    padding: 15px;
    font-size: 1.2em;
    border: none;
    background-color: #224eff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#contact-form button:hover {
    background-color: #ff5722;
    transform: translateY(-3px);
}

/* Resume Section */
#portfolio {
    text-align: center;
}

.project-links {
    margin-top: 20px;
}

.view-resume-button {
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    background-color: #224eff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.view-resume-button:hover {
    background-color: #ff5722;
    transform: translateY(-3px);
}

/* Project Section */
#projects h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 40px;
    color: #ffffffed;
    font-family: 'Montserrat', sans-serif; /* Modern font */
    letter-spacing: 2px;
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project-card {
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column; /* Ensures content is aligned vertically */
}

.project-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.project-card a {
    padding: 20px;
    color: #224eff;
    text-decoration: none;
    font-weight: bold;
    background-color: #111;
    transition: background-color 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
}

.project-card:hover img {
    transform: scale(1.05);
}

.project-card:hover a {
    background-color: #224eff;
    color: #fff;
}

/* Responsive Design */

/* Large Tablets and Small Desktops */
@media (max-width: 1024px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .content-container {
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;
    }

    .profile-picture img {
        width: 200px;
    }

    .project-cards {
        flex-direction: column;
        align-items: center;
    }

    .view-resume-button, #contact-form button {
        width: 100%;
    }
}

/* Small Tablets and Large Phones */
@media (max-width: 768px) {
    .project-cards {
        justify-content: space-between;
    }

    .project-card {
        width: calc(50% - 10px); /* Two cards per row on medium screens */
    }

    nav ul {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .profile-picture img {
        width: 180px;
    }
}

/* Small Phones */
@media (max-width: 480px) {
    .project-card {
        width: 100%;
    }

    .profile-picture img {
        width: 120px;
    }

    .view-resume-button, #contact-form button {
        font-size: 1em;
        padding: 10px;
    }

    #welcome h1 {
        font-size: 2em;
    }

    .gradient-text {
        font-size: 1.2em;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }
}

/* Social Media and Contact Section */
.contact-social-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.social-media-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}

.social-media-icons h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ffffffed;
    text-align: center;
}

.connect-text {
    font-size: 1.2em;
    margin-bottom: 70px;
    color: #ffffff;
    text-align: center;
    max-width: 300px;
}

.icons {
    display: flex;
    gap: 70px;
    justify-content: center;
}

.icons a img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.icons a img:hover {
    transform: scale(1.1);
}

#contact-form-container {
    max-width: 600px;
    flex: 1;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: none;
}

#contact-form input, #contact-form textarea {
    padding: 15px;
    font-size: 1em;
    border: 2px solid #224eff;
    background-color: #111;
    color: #fff;
    border-radius: 5px;
}

#contact-form input:focus, #contact-form textarea:focus {
    border-color: #224eff;
    background-color: #222;
}

#contact-form button:hover {
    background-color: #ff5722;
}

#message-sent {
    display: none;
    color: #00ff00;
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
}

#send-button:disabled {
    opacity: 0.7;
}
/* Intro Text Styling */
.intro-text {
    color: #d3d3d3; /* Light grey text */
    font-size: 1.5em; /* Larger font size than the default */
    margin-top: 10px;
    line-height: 1.6; /* Line height for readability */
}
/* Initially hidden */
#about {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  /* Show the section when the 'show' class is added */
  #about.show {
    opacity: 1;
  }
  
  
  .emoji {
    width: 1.5em; /* Adjust the width to make it smaller */
    height: auto; /* Maintain aspect ratio */
    vertical-align: middle; /* Aligns the emoji with the text */
}
/* About Me paragraph styling */
#about p {
    color: #d3d3d3; /* Light grey font */
    font-size: 1.1em; /* Slightly larger font */
    line-height: 1.8; /* Adjust line height for better readability */
}



/* Content Layout */
.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 120px 20px 1px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.text-content {
    flex: 1;
    margin-right: 100px;
    max-width: 70%; /* Keep intro text at 60% of the container */
}

.profile-picture {
    flex: 0 0 35%; /* Image takes up 35% of the container */
    margin-top: 50px; /* Lowered the image */
    display: flex;
    justify-content: flex-end;
}

.profile-picture img {
    width: 400px; /* Adjusted image size */
    height: 400px;
    border-radius: 50%;
}

.about-content {
    margin-top: 0px; /* Space between image and about section */
}

#about h2 {
    text-align: left;
    padding-left: 15%; /* Adjust percentage as needed */
}

#about p {
    color: #d3d3d3;
    font-size: 1.2em;
    line-height: 1.8;
    margin-top: 20px;
    max-width: 100%;
    padding-left: 15%; /* Adjust percentage as needed */
    padding-right: 15%; /* Adjust percentage as needed */
}


/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
        align-items: center;
    }

    .text-content {
        max-width: 100%; /* Ensure text takes full width on smaller screens */
        margin: 0;
    }

    .profile-picture {
        margin-top: 20px;
        margin-bottom: 20px; /* Add margin below the image */
    }

    .profile-picture img {
        width: 200px;
        height: 200px;
    }

    #about p {
        max-width: 100%;
    }
}

html {
    scroll-behavior: smooth;
  }
  